<div class="container">
  <div class="user-details">
    <h3> Featured Projects </h3>
  </div>
  <div class="row user-projects">
    <div class="six columns images">
      <img class="project" alt="" src="{{ "/assets/img/igf_small.png" | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <h5> iGROWFit </h5>
      <p>iGROWFit is a corporate fitness subscription platform. Technologies used: Django, Django Rest Framework, Postgres, Celery, AWS</p>
      <a class="project-link" href="https://www.igrowfit.com/">Check it out</a>
    </div>
  </div>
  <div class="row user-projects">
    <div class="six columns">
      <img class="project" alt="" src="{{ "/assets/img/publish-pothi_small.png" | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <h5> Pothi self-publishing platform </h5>
      <p>Pothi is a self publishing platform similar to Lulu and Createspace. Technologies used: Django, Flask, Celery, MySQL</p>
      <a class="project-link" href="https://publish.pothi.com/">Check it out</a>
    </div>
  </div>
  <div class="row user-projects">
    <div class="six columns images">
      <img class="project" alt="" src="{{ "/assets/img/hotsolutions_small.png" | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <h5> Hotsolutions docmerge </h5>
      <p>This is a tool similar to mail merge for PDF documents and it includes a WYSIWYG editor to define layouts and structure. It's a part of HRIS suite. Technologies used: Django, Celery, Reportlab, AWS</p>
      <a class="project-link" href="">Check it out</a>
    </div>
  </div>
</div>
