<div class="container">

  <div class="row user">
    <h3> Services </h3>
    <div class="four columns">
      <i class="fa fa-code" aria-hidden="true"></i>
      <h5>Web Development</h5>
      <p>Whether it's developing your new webapp or revamping your existing one, I'll help you hit the ground running.</p>
    </div>
    <div class="four columns">
      <i class="fa fa-tachometer" aria-hidden="true"></i>
      <h5>Webapp Optimization </h5>
      <p>Suffering from unresponsive webapp and slow page load times? Let me supercharge your webapp.</p>
    </div>
    <div class="four columns">
      <i class="fa fa-rocket"></i>
      <h5>AWS Migration</h5>
      <p>Looking to move your existing app to the cloud? I'll do the cost benefit analysis and help with the smooth transition.</p>
    </div>
  </div>
</div
